.homepage-container {
  display: flex;
  justify-content: center;
}

.homepage-container > a{
  display: flex;
  justify-content: center;
}

.homepage-container > a > img {
  border: var(--border-color) solid 3px;
  border-radius: 10px;
  max-width: 85%;
  max-height: 85%;
}

.homepage-container > a > img:hover{
    border-color: var(--main-font);

}