.product-detail-layout-container{
    justify-content: center;
    display: flex;
}

.product-detail-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border: 3px solid var(--border-color);
    border-radius: 20px;
    padding: 5px;
    width: 700px;
}

.product-detail-container>img{
    height: 400px;
}

@media screen and (max-width: 1000px) {
    .product-detail-container>img{
        height: 250px;
    }

    .product-detail-container{
        width: 500px;
    }
}

@media screen and (max-width: 550px) {
    .product-detail-container>img{
        height: 150px;
    }

    .product-detail-container{
        width: 290px;
    }
}