.header {
  position: sticky;
  width: 100%;
  background-color: var(--header);
  top: 0;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px;

}

h1 > a {
  text-decoration: none;
  color: var(--main-font);
  font-size: 48px;
  cursor: pointer;
}

.navbar-toggle,
.navbar-close {
  font-size: 24px;
  cursor: pointer;
}

.navbar-close {
  position: absolute;
  top: 16px;
  right: 20px;
}

.navbar-list {
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 25px;
  padding: 0px;
}

.navbar-link {
  text-decoration: none;
  color: var(--main-font);
  font-size: 28px;
}

.navbar-link:hover {
  text-decoration: underline;
}

.cart-container>p{
  margin: 0px;
}

.navbar-menu.show-menu {
  right: 0;
}

@media screen and (min-width: 1000px) {
  .navbar-toggle,
  .navbar-close {
    display: none;
  }

  .navbar-container{
    height: calc(60px + 16px);
  }
}

@media screen and (max-width: 1000px) {
  .navbar-menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: var(--header);
    box-shadow: -5px 0px 3px var(--main-font);
    height: 100%;
    padding: 50px 80px 50px 30px;
    transition: right 0.4s;
  }

  .navbar-list{
    flex-direction: column;
    align-items: flex-start;
    row-gap: 15px;
  }
}
