.product-list-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.loading, .error{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 80px;
}