:root{
    font-family: "Roboto", sans-serif, system-ui;
    --main-font: #222222;
    --background: #FFFFFF;
    --header: #95A3B3;
    --border-color: #4B4E6D;
}

body{
    margin: 0px;
    box-sizing: border-box;
}

#root{
    display: flex;
    flex-direction: column;
    gap: 10px;
}