.product-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border: 3px solid lightgray;
    width: 400px;
    border-radius: 20px;
    padding: 5px;
}

.product-container>img{
    height: 200px;
}

.add-to-cart-container{
    display: flex;
    align-items: flex-end;
}

.add-to-cart-container>button{
    background-color: transparent;
    border-color: lightgray lightgray lightgray transparent;
    border-style: solid;
    border-width: 3px 3px 3px 0px;
    border-radius: 0px 10px 10px 0px;
    font-size: 16px;
    cursor: pointer;
    padding: 3px;
}

.quantity-container{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.quantity-container>input{
    background-color: transparent;
    border-color: lightgray lightgray lightgray lightgray;
    border-style: solid;
    border-width: 3px 0px 3px 3px;
    border-radius: 10px 0px 0px 10px;
    font-size: 16px;
    padding: 3px;

}

.quantity-container>input:focus{
    outline: none;
}

.add-to-cart-container>button:hover{
    background-color: rgb(242, 252, 250);
}

.add-to-cart-container>button:active{
    background-color: rgb(231, 241, 239);
}
